@import './reset.scss';
@import './variables.scss';

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: Arial;
  font-size: 16px;
  background: var(--background-dark);
  -webkit-tap-highlight-color: rgba(0,0,0,0); // отключение подсвечивания элементов при нажатии для iPhone
  color: var(--white);
  margin: 0;
  min-height: 95vh;

  &.lock-scroll {
    overflow: hidden;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    @media (min-width: 1192px) {
      position: relative;
    }
  }
}
