:root {
  // colors
  --background-dark: #292929;
  --dark: #1a1a1a;
  --white: #ffffff;
  --black: #000000;
  --red-color: #c41a1a;

  --gray-34-color: hsl(0, 0%, 34%);
  --gray-53-color: hsl(0, 0%, 53%);
  --gray-73-color: hsl(0, 0%, 73%);


  --primary-color: #0093c4;
  --primary-hover-color: #2BBDED;
  --secondary-color: #536390;
  --heading-color: #fff;
  --error-color: #c22e2e;

  --accent-color: #ea4e01;
  --accent-hover-color: #ff7835;


  --border-radius: 8px;
  --inner-padding: 16px;
  --s-margin: 8px;
  --m-margin: 16px;
  --l-margin: 32px;
}
